includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 4
    paths:
        - app
        - bootstrap
        - functions.php
    excludePaths:
        - vendor
        - node_modules
    ignoreErrors:
        - '#WP_Term::\$cat_ID#'
        - '#Function get_fields not found#'
        - '#Function get_field not found#'
        - '#Function usces_is_login not found#'
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    treatPhpDocTypesAsCertain: false
