/*--------------------------------------------
  Wordpress EDITOR
--------------------------------------------*/
.wp-editor {
  > * {
    & + * {
      //margin-top: 3em;
    }
    
  }
  p {
    +p {
      margin-top: 1em;
    }
  }

  .wp-block-columns {
    .wp-block-column {
      &:not(:last-child) {
        margin-bottom: 2em;
      }

      > * {
        & + * {
          margin-top: 2em;
        }
      }
    }
  }

  strong {
    font-weight: 700;
  }
  em {
    font-style: italic;
  }
  blockquote {
    display: block;
    padding: 2em;
    background-color: $gray_l;
  }
  sup {
    vertical-align: super;
    font-size: 70%;
  }
  sub {
    vertical-align: sub;
    font-size: 70%;
  }
  figure {
    max-width: 100%;
  }
  img[class*="wp-image-"],
  img[class*="attachment-"] {
    max-width: 100%;
    height: auto;
  }

  .alignleft {
    display: block;
    float: none;
    margin: 0;
    margin-right: auto;
  }
  .aligncenter {
    display: block;
    float: none;
    margin: 0 auto;
  }
  .alignright {
    display: block;
    float: none;
    margin: 0;
    margin-left: auto;
  }

  .c-iframe {
    padding-top: 52.5%;
  }

  h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    border-top: 1px solid #c4c8d7;
    position: relative;
    padding-top: 2.5rem;
    margin: 2em 0;
    &:before {
      content: '';
      width: 14rem;
      height: 2px;
      position: absolute;
      top: -1px;
      left: 0;
      background: $main;
    }
  }
  h3 {
    color: $main;
    position: relative;
    //padding-left: 1em;
    padding-bottom: 0.5em;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: 0.1rem;
    margin: 1.5em 0 1em;
    border-bottom: 1px solid #c4c8d7;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0.4em;
    //   left: 0;
    //   display: block;
    //   width: 0.4em;
    //   height: 0.4em;
    //   border-radius: 50%;
    //   background-color: $main;
    // }
  }
  h4 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.3;
    letter-spacing: 0.1rem;
    margin: 1.5em 0 1em;
  }

  a:not([class]) {
    color: $link;
    text-decoration: underline;
    word-break: break-all;

    &:hover {
      text-decoration: none;
    }
  }

  ul:not([class]),
  ol:not([class]) {
    //padding-left: 2em;
    line-height: 1.5;

    > li {
      &:not(:first-child) {
        margin-top: 0.6em;
      }

      > ul,
      > ol {
        margin-top: 0.6em;
      }
    }
  }
  ul:not([class]) {
    > li {
      padding-left: 1.5625em;
      position: relative;
      &:before {
        content: '';
        width: 0.5em;
        height: 0.5em;
        position: absolute;
        left: 0;
        top: 0.5em;
        background: $main;
        border-radius: 50%;
      }
    }
  }
  ol:not([class]) {
    > li {
      list-style-type: decimal;
    }
  }

  table {
    width: 100%;

    tr {
      > th,
      > td {
        padding: 1em;
        border: 1px solid $bd;
      }
      > th {
        background-color: $gray_l;
      }
    }
  }

  &.-inner_box {
    > * {
      & + * {
        margin-top: 2em;
      }
    }
  }

  @include mq(sm) {
    > * {
      & + * {
        margin-top: 2em;
      }
    }

    .wp-block-columns {
      .wp-block-column {
        &:not(:last-child) {
          margin-bottom: 1.5em;
        }

        > * {
          & + * {
            margin-top: 1.5em;
          }
        }
      }
    }

    blockquote {
      padding: 1.5em;
    }

    h2 {
      padding-left: 0.6em;
      border-width: 0.4rem;
      font-size: 2rem;
    }
    h3 {
      font-size: 1.8rem;
    }
    h4 {
      font-size: 1.6rem;
    }

    &.-inner_box {
      > * {
        & + * {
          margin-top: 1.5em;
        }
      }
    }
  }
}

/*-------------------------------
  WP > PAGINATION(ORIGINAL)
-------------------------------*/
.wp-pager {
  margin-top: 8rem;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: inline-block;
    text-align: center;
    margin: 0 0.5rem;
    width: 3.4rem;
    height: 3.4rem;
    
    line-height: 3.4rem;
    text-align: center;
    >a,
    >span {
      display: block;
      background: #fff;
      color: $main;
      border: 1px solid $main;
      //font-family: $ff_sans;
      &.current{
        color: #fff;
        background: $main;
      }
    }

    >a {
      @include mq(sm-) {
        &:hover {
          background: $main;
          color: #fff;
        }
      }
    }

    &.-current {

      >a,
      >span {
        color: #fff;
        background: $main;
      }
    }

    &.-extend {
      margin: 0;
      display: none;

      >a,
      >span {
        color: $main;
        border: none;
      }
    }

    // &.-first {
    //   >a {
    //     &:before {
    //       content: '';
    //       display: inline-block;
    //       //@include icon('arrow-fill_20');
    //       transform: rotate(180deg) scale(.75);
    //       width: 20px;
    //       height: 15px;
    //       background: url(../img/common/icon_pager.svg) no-repeat center / contain;
    //     }
    //   }
    // }

    &.-last {
      display: none;
      >a {
        &:before {
          content: '';
          display: inline-block;
          //@include icon('arrow-fill_20');
          transform: scale(.75);
          width: 20px;
          height: 15px;
          background: url(../img/common/icon_pager.svg) no-repeat center / contain;
        }
      }
    }

    @include mq(ss) {
      &.-extend {
        display: none;
      }
    }
  }

  @include mq(ss) {
    &__item {
      >a,
      >span {
      }
    }
  }
}

/*--------------------------------------------
  WPForms
--------------------------------------------*/
.wpforms-container{
  border-top: 1px solid #dddddd;
  .wpforms-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4rem 0!important;
    &.wpforms-field-checkbox{
      &.privacy{
        justify-content: center;
        width: 100%;
        ul {
          justify-content: center;
          margin-top: 1em;
        }
        .wpforms-field-label {
          width: 100%;
        }
        input[type="checkbox"]{
          padding: 0!important;
          &:before{
            width: 1.2em!important;
            height: 1.2em!important;
            border-radius: 0!important;
          }
        }
      }
    }
    &:not(:first-child){
      border-top: 1px solid #dddddd;
    }
  }
  .wpforms-field-label{
    width: 25%;
    margin-bottom: 0!important;
    font-weight: 500!important;
  }

  input[type="text"],
  textarea{
    border-radius: 0!important;
    border-color: #b7b7b7!important;
    padding: 0.85em!important;
    line-height: 1.3!important;
    &.wpforms-field-medium{
      max-width: 65%!important;
    }
  }
  textarea{
    height: 10em!important;
  }
  @include mq(sm){
    input[type="text"],
    textarea {
      &.wpforms-field-medium {
        max-width: 75% !important;
      }
    }
  }
  @include mq(xs){
    .wpforms-field{
      display: block;
      padding: 3rem 0!important;
      &.wpforms-field-checkbox {
        &.privacy {
          text-align: center;
        }
      }
    }
    .wpforms-field-label{
      width: 100%;
      margin-bottom: 1em!important;
    }
    input[type="text"],
    textarea {
      &.wpforms-field-medium {
        max-width: 100% !important;
      }
    }

  }
  @include mq(ss){

  }
}
.wpforms-submit-container{
  text-align: center;
  .wpforms-submit{
    width: 25rem;
    background: #263994!important;
    border-radius: 0!important;
    height: auto!important;
    padding: 1em!important;
    transition: 0.4s;
    &:hover{
      background: $main!important;
    }
  }
  @include mq(sm) {}

  @include mq(xs) {}

  @include mq(ss) {}
}

div.wpforms-container-full .wpforms-confirmation-container-full{
  background: #fff2d5!important;
  border: none!important;
  text-align: center;
  padding: 3em!important;
  .c-form__button{
    margin-top: 3rem!important;
  }
  .c-btn{
    border-radius: 3rem !important;
    border: 1px solid #092340 !important;
    background: #fff !important;
    color: #092340 !important;
    max-width: 25.3rem !important;
    padding: 2rem 0 !important;
    width: 100% !important;
    &:hover{
      background: #fff!important;
      color: #092340!important;
    }
  }
  .c-btn__icon{
    width: 3.2rem !important;
    height: 0.55rem !important;
    margin-left: 0.5rem !important;
  }
}