@charset "utf-8";
/*============================================

  404

============================================*/
/*-------------------------------
  404 > COMMON
-------------------------------*/
.p-404{

  @include mq(xs){

  }
  @include mq(ss){

  }
}
