/*============================================

  COMPANY

============================================*/
/*-------------------------------
  COMPANY > COMMON
-------------------------------*/
.p-company {
  @include mq(sm) {}
  
  @include mq(xs) {}

  @include mq(sm) {}
}

