@charset "utf-8";
/*============================================

  CONTACT

============================================*/
/*-------------------------------
  CONTACT > COMMON
-------------------------------*/
.p-contact {
  @include mq(sm) {
  }
  @include mq(xs) {
  }
  @include mq(sm) {}
}


