/*============================================

  ESG-SDGs

============================================*/
/*-------------------------------
  ESG-SDGs > COMMON
-------------------------------*/
.p-esg-sdgs {
  @include mq(sm) {}
  
  @include mq(xs) {}
  
  @include mq(sm) {}
}

