/*============================================

  HOME

============================================*/

/*--------------------------------------------
  HOME>COMMON
--------------------------------------------*/
.p-home {
  @include mq(xl) {

  }
  @include mq(lg) {

  }
  @include mq(sm){

  }
  @include mq(xs) {
  }
  @include mq(ss) {
  }
}
/*--------------------------------------------
  key
--------------------------------------------*/

.p-home_kv {

  @include mq(xl){
  }
  @include mq(lg){
  }
  @include mq(md) {
  }
  @include mq(sm) {
  }
  @include mq(xs) {

  }
  @include mq(ss) {
  }
}