@charset "utf-8";
/*============================================

  NEWS

============================================*/
/*-------------------------------
  NEWS > COMMON
-------------------------------*/
.p-news{
  @include mq(md) {
  }
  @include mq(sm) {
  }
  @include mq(ss) {
  }
}

/*-------------------------------
  NEWS > ARCHIVE
-------------------------------*/
/*-------------------------------
  NEWS > SINGLE
-------------------------------*/
