@charset "utf-8";
/*============================================

  PRIVACY POLICY

============================================*/
/*-------------------------------
  PRIVACY > COMMON
-------------------------------*/
.p-privacypolicy {


  @include mq(md) {

  }
  @include mq(sm){

  }
  @include mq(xs){
  }
  @include mq(ss){
  }
}
