/*============================================

  RECRUIT

============================================*/
/*-------------------------------
  RECRUIT > COMMON
-------------------------------*/
.p-recruit {
  @include mq(sm) {

  }
  @include mq(xs){
  }
  @include mq(ss) {}
}
