/*--------------------------------------------
  BASE
--------------------------------------------*/
@-ms-viewport {
  width: auto;
  initial-scale: 1;
}

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @include mq(lg) {
    font-size: 0.75vw;
  }

  @include mq(md) {
    font-size: 0.8vw;
  }

  @include mq(sm) {
    font-size: 1.3vw;
  }

  @include mq(xs) {
    font-size: 1.75vw;
  }

  @include mq(ss) {
    font-size: 2.5vw;
  }
}

body {
  top: 0 !important;
  font-family: $ff_base;
  font-size: 1.6rem;
  font-weight: 500;
  //letter-spacing: 0.05em;
  color: $font;
  line-height: 1.75;
  padding-top: var(--header-height);
  -webkit-font-smoothing: antialiased;
  // @include mq(xl){
  //   padding-top: 6.8193em;
  // }
  // @include mq(lg){
  //   padding-top: 6.489em;
  // }
  // @include mq(sm) {
  //   font-size: 1.4rem;
  //   padding-top: 5.7747em;
  // }
  // @include mq(xs) {
  //   padding-top: 3.571em;
  // }
  // @include mq(ss) {
  //   padding-top: 3.571em;
  // }
}

* {
  overflow-wrap: break-word;
  word-break: break-all;

  // @include mq(sm-) {
  //   scrollbar-width: thin;
  //   scrollbar-color: $main rgba($main, .3);

  //   &::-webkit-scrollbar {
  //     width: .6rem;
  //     height: .6rem;
  //   }
  //   &::-webkit-scrollbar-track {
  //     box-shadow: inset 0 0 .6rem rgba($main, .3);
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     background-color: $main;
  //   }
  // }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main,
picture {
  display: block;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

table {
  width: 100%;
}

a {
  color: $font;
  text-decoration: none;

  &[href=""] {
    pointer-events: none;
  }

  @include mq(sm-) {

    // transition: all $duration 0s;
    &[href^="tel:"] {
      pointer-events: none;
    }
  }

  @include transition;

}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  @include transition;
}

svg {
  width: 1em;
  height: 1em;
  fill: $font;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  vertical-align: top;
}

input,
textarea {
  -webkit-appearance: none;
}

[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
[type="datetime"],
[type="date"],
[type="month"],
[type="week"],
[type="time"],
[type="datetime-local"],
[type="number"],
[type="range"],
[type="color"],
[type="file"],
select,
textarea {
  width: 100%;
  //font-size: 1.4rem;
  padding: 1em;
  background-color: transparent;
  border: 1px solid $bd_input;
  outline: none;
  line-height: 1.3;
  // caret-color: $main;

  @include mq(sm) {
    // font-size: 1.8rem;
  }
}

select {
  padding-right: 1.3em;

  option {
    font-family: $ff_option;
  }

  .is-ios & {
    -webkit-appearance: button;
    appearance: button;
  }

  // @include mq(sm) {
  //   font-size: 1.4rem;
  // }
}

textarea {
  min-height: 12.5em;

  @include mq(xs) {
    min-height: 10em;
  }
}