/*--------------------------------------------
  button wrap
--------------------------------------------*/
.c-btn_wrap {
  display: flex;
  justify-content: center;
  margin-top: 3em;

  &.-mgt_lg {
    margin-top: 5em;
  }

  &.-col {
    >*+* {
      margin-left: 2em;
    }
  }

  @include mq(sm) {
    margin-top: 2.5em;

    &.-mgt_lg {
      margin-top: 3em;
    }
  }

  @include mq(xs) {
    &.-col {
      display: flex;
      flex-direction: column;
      align-items: center;

      >*+* {
        margin-top: 1.5em;
        margin-left: 0;
      }
    }
  }
}

/*--------------------------------------------
  button
--------------------------------------------*/
.c-btn {
  $amp: &;
  display: block;
  color: #fff;
  background: $main;
  font-weight: 700;
  border: 1px solid $main;
  line-height: 1;
  text-align: center;
  padding: 1em 0;
  max-width: 20rem;
  border-radius: 3rem;
  position: relative;

  span {
    display: inline-block;
    padding-right: 2rem;
    position: relative;

    &:before {
      content: '';
      width: 7px;
      height: 11px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background: url(../../assets/img/icon_arrow.svg);
      transition: 0.4s;
    }
  }

  @include mq(sm-) {
    &:hover {
      background: #fff;
      color: $main;

      span {
        &:before {
          background-image: url(../../assets/img/icon_arrow_or.svg);
        }
      }
    }
  }

  &.-sm {
    max-width: 18rem;
  }

  &.-center {
    margin: 0 auto;
  }

  &.-white {
    background: #fff;
    color: $font;
    border-color: #fff;

    @include mq(sm-) {
      &:hover {
        background: $main;
        color: #fff;
        border-color: $main;
      }
    }
  }

  @include mq(sm) {
    &__icon {}

    &__arrow {}
  }

  @include mq(xs) {}

  @include mq(ss) {}
}

/*--------------------------------------------
  moreボタン
--------------------------------------------*/
.c-btn_more {
  $amp: &;
  font-family: $ff_en;
  width: 13.4rem;
  border-bottom: 1px solid #e7e7e7;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  display: block;
  text-align: center;

  &.-center {
    margin: 0 auto;
  }

  &.-right {
    margin-left: auto;
  }

  &:before {
    content: '';
    width: 7px;
    height: 7px;
    border-top: 1px solid #222222;
    border-right: 1px solid #222222;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  @include mq(sm-) {
    &:hover {
      color: $point;
    }
  }

  @include mq(xs) {
    padding: 1.5em 0;
  }
}

/*--------------------------------------------
  button lg
--------------------------------------------*/
.c-btn_lg {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 16rem;
  padding: 1em;
  padding-right: 4em;
  background-color: $main;
  font-size: 3rem;
  color: $white;
  line-height: 1.3;

  &::before {
    content: "";
    transform: scale(0.7);
    @include icon("arrow-fill_22");
    position: absolute;
    top: 0;
    right: 1em;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 2.8em;
    height: 2.8em;
    padding-left: 0.1em;
    background-color: $main;
    border-radius: 50%;
    border: 1px solid $white;
    color: $white;
    @include transition;
  }

  &:hover {
    &::before {
      background-color: $white;
      color: $main;
    }
  }

  @include mq(sm) {
    min-height: 10rem;
    padding: 0.8em;
    font-size: 2rem;
  }

  @include mq(xs) {
    min-height: 8rem;
    font-size: 1.8rem;
  }
}