/*--------------------------------------------
  news
--------------------------------------------*/
.c-card_news {
  $amp: &;

  &__item {
    border-bottom: 1px solid #B5B5B5;

    &:first-child {
      border-top: 1px solid #B5B5B5;
    }
  }

  &__link {
    display: flex;
    align-items: baseline;
    position: relative;
    padding: 3em 0;

    @include mq(sm-) {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__date {
    margin-right: 3.8rem;
  }

  &__term {
    font-weight: 700;
    text-align: center;
    line-height: 1;
    background: $font;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
    padding: 8px 0;
    min-width: 8rem;
    display: inline-block;
    margin-right: 5rem;

  }

  &__ttl {
    width: calc(100% - 29rem);

    @include mq(sm-) {}
  }

  @include mq(md) {
    &__ttl {
      width: calc(100% - 30rem);
    }
  }

  @include mq(sm) {
    &__date {
      margin-right: 1rem;
    }

    &__link {
      flex-wrap: wrap;
      padding: 1em 0;
    }

    &__ttl {
      width: 100%;
      margin-top: 0.5em;
    }

    &__term {}
  }

  @include mq(xs) {}
}


/*--------------------------------------------
  case
--------------------------------------------*/
.c-card_case {
  $amp: &;

  &__wrap {
    display: flex;
    gap: 1.5rem;
    position: relative;
    z-index: 10;
  }

  &__item {
    width: calc((100% - 3rem) / 3);
    background: #fff;

    &.-gray {
      background: #E8E8E8;
    }
  }

  &__link {
    display: block;
    padding: 1.8rem 1.8rem 3rem 1.8rem;
    position: relative;

    &:before {
      content: '';
      width: 3.6rem;
      height: 3.6rem;

      border-radius: 50%;
      position: absolute;
      right: 1.8rem;
      bottom: 1.5rem;
      background: url(../../assets/img/icon_arrow.svg) no-repeat center / 7px 11px;
      background-color: #000;
    }

    @include mq(sm-) {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__date {
    margin-top: 1rem;
  }

  &__ttl {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__tag {
    display: inline-block;
    border-radius: 5px;
    background: $font;
    color: #fff;
    line-height: 1;
    font-size: 1.4rem;
    font-weight: 700;
    min-width: 90px;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
  }

  &__img {
    .c-ofi {
      padding-top: 79.38%;
    }
  }

  @include mq(md) {}

  @include mq(sm) {}

  @include mq(xs) {
    &__wrap {
      flex-wrap: wrap;
    }

    &__item {
      width: calc((100% - 2rem) / 2);
    }
  }

  @include mq(ss) {

    &__item {
      width: 100%;
    }

    &__ttl {
      font-size: 1.6rem;
    }

    &__tag {
      font-size: 1.3rem;
      min-width: auto;
      padding: 1rem;
    }
  }
}