/*--------------------------------------------
  search
--------------------------------------------*/
.c-search_keyword {
  display: flex;
  align-items: center;
  justify-content: center;

  &__txt {
    color: #fff;
    font-size: 1.8rem;
    margin-right: 2.3rem;
    font-weight: 700;
  }

  &__input {
    position: relative;

    input {
      width: 600px;
      background: #fff;
      border-radius: 30px;
      padding: 1.15em;
    }

    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 2rem;
      width: 2rem;
      height: 2rem;
      padding: 0;

      .icon {
        width: 2rem;
        height: 2rem;
        fill: $main;
      }
    }
  }

  @include mq(xs) {
    display: block;

    &__txt {
      font-size: 1.6rem;
      margin-left: 0;
      margin-bottom: 1rem;
    }

    &__input {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}


.c-search_filter {
  $amp: &;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
    display: flex;
    align-items: center;
    color: $main;

    &:nth-child(n+3) {
      margin-top: 3rem;
    }
  }

  &__name {
    width: 5.6875em;
    color: $main;
    font-weight: 700;

    &.-lg {
      width: 7.1875em;
    }
  }

  &__fieldWrap {
    display: flex;
    align-items: center;

    #{$amp}__field {
      display: flex;
      align-items: center;

      +#{$amp}__field {
        margin-left: 1rem;
      }
    }
  }

  &__field {

    select {
      background: #fff;
      border-radius: 3rem;
      color: $main;
      width: 270px;
      border: none;
      appearance: none;

      &.sm {
        width: 150px;
        margin-right: 1rem;
      }
    }
  }

  &__select {
    position: relative;

    &:before {
      content: '';
      width: 1.5rem;
      height: 0.9rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 3rem;
      background: url(../../assets/img/icon_chevron.svg) no-repeat center / contain;
    }
  }

  &__txt {
    font-weight: 500;
  }

  &__btnWrap {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  &__btn {
    margin: 0 1.25rem;

    .btn {
      font-weight: 700;
      line-height: 1;
      text-align: center;
      padding: 1em 0;
      border-radius: 5px;
      display: block;

      @include mq(sm-) {
        font-size: 1.8rem;
      }
    }

    &.-search {
      .btn {
        background: $main;
        color: #fff;
        border: 1px solid $main;
        width: 350px;
        position: relative;

        .icon {
          position: absolute;
          right: 2rem;
          top: 50%;
          transform: translateY(-50%);
          fill: #fff;
          width: 2rem;
          height: 2rem;
          transition: 0.4s;
        }

        @include mq(sm-) {
          &:hover {
            background: #fff;
            color: $main;

            .icon {
              fill: $main;
            }
          }
        }
      }
    }

    &.-clear {
      .btn {
        background: #fff;
        border: 1px solid $main;
        color: $main;
        width: 270px;

        @include mq(sm-) {
          &:hover {
            background: $main;
            color: #fff;
          }
        }
      }
    }
  }

  &__toggle {}

  @include mq(md) {
    &__field {
      select {
        &.sm {
          width: 120px;
        }
      }
    }
  }

  @include mq(sm) {
    &__wrap {
      display: block;
    }

    &__item {
      width: 100%;

      &:not(:first-child) {
        margin-top: 1.5rem;
      }
    }

    &__field {
      select {
        width: 30rem;

        &.sm {
          width: 13rem;
        }
      }
    }

    &__name {
      width: 7em;

      &.-lg {
        width: 7em;
      }
    }

    &__btn {}
  }

  @include mq(xs) {
    &__toggle {
      color: $main;
      font-weight: 700;
      font-size: 1.6rem;
      position: relative;
      padding: 1.5rem 0;

      span {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        background: $main;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        &:before,
        &:after {
          content: '';
          width: 0.8em;
          height: 2px;
          background: #fff;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          transition: 0.4s;
        }

        &:after {
          transform: rotate(90deg);
        }
      }

      &.open {
        span {
          &:after {
            transform: rotate(0);
          }
        }
      }
    }

    &__form {
      display: none;
    }

    &__btnWrap {
      flex-direction: column;
      align-items: center;
    }

    &__btn {
      &.-clear {
        margin-top: 1.5rem;
      }
    }

    &__select {
      &:before {
        width: 1rem;
        height: 0.5em;
        right: 1.5rem;
      }
    }
  }

  @include mq(ss) {
    &__item {
      display: block;
    }

    &__name {
      margin-bottom: 0.5em;
      width: auto;
    }

    &__field {
      select {
        width: 100%;

        &.sm {
          width: 11rem;
        }
      }
    }

    &__btn {
      &.-search {
        width: 100%;
      }

      &.-clear {
        width: 70%;
      }
    }
  }
}