/*--------------------------------------------
  sup border
--------------------------------------------*/
.c-ttl_sup {
  $amp:&;
  line-height: 1;
  margin-bottom: 5rem;
  &.-mb0 {
    margin-bottom: 0;
  }
  &__inner{
    display: inline-block;
    padding-left: 2.5rem;
    border-left: 5px solid $main;
  }
  &__en {
    font-family: $ff_en;
    font-weight: 500;
    font-size: 7.4rem;
    line-height: 0.85;
  }
  &__jp {
    font-weight: 700;
    margin-bottom: 0.875em;
    &.-white{
      color: #fff;
    }
  }
  
  &.-white {
    #{$amp}__jp {
      color: $white;
    }
    #{$amp}__en{
      color: $white;
    }
    #{$amp}__desc{
      &:before{
        background: #fff;
      }
    }
  }

  &.-center {
    text-align: center;
    #{$amp}__inner{
      text-align: left;
    }
  }
  @include mq(lg) {
  }
  @include mq(sm) {
    &__en {
      font-size: 4rem;
    }
  }
  @include mq(xs) {
    margin-bottom: 4rem;
    &__en {
      font-size: 3.5rem;
    }
    &__inner{
      padding-left: 1.5rem;
    }
  }
  @include mq(ss) {
    &__en{
      font-size: 3rem;
    }
  }
}

.c-ttl_pl {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 1.875em;
  color: $main;
  &.-center {
    text-align: center;
  }
  @include mq(sm) {
    font-size: 2.6rem;
  }
  @include mq(xs) {
    font-size: 2.2rem;
  }
  @include mq(ss) {
    font-size: 2rem;
    line-height: 1.3;
  }
}

.c-ttl_bdl{
  font-size: 2rem;
  font-weight: 400;
  padding-left: 1.8em;
  line-height: 1.6;
  border-left: 5px solid $main;
  margin-bottom: 0.9em;
  &.-white{
    color: #fff;
    border-color: #fff;
  }
  @include mq(sm) {
    padding-left: 1.4em;
  }

  @include mq(xs) {
    font-size: 1.8rem;
    padding-left: 1em;
  }

  @include mq(ss) {
  }
}

.c-ttl_sec {
  $amp: &;
  line-height: 1;
  &__en {
    font-family: $ff_en;
    font-size: 5rem;
    font-weight: 700;
    line-height: 0.8;
  }
  &__jp {
    color: #A69C9C;
    font-weight: 700;
    margin-top: 1rem;
  }
  &.-jp {
    line-height: 1;
    #{$amp}__jp {
      font-size: 4rem;
      font-weight: 700;
      color: $main;
      margin-top: 0;
    }
    #{$amp}__en {
      font-size: 2rem;
      font-weight: 700;
      color: #A69C9C;
      margin-top: 1.5rem;
    }
  }
  @include mq(sm) {
    &__en {
      font-size: 4rem;
    }
    &.-jp {
      #{$amp}__jp {
        font-size: 3rem;
      }
      #{$amp}__en {
        font-size: 1.8rem;
      }
    }

  }
  @include mq(xs) {
    &__en {
      font-size: 3.5rem;
    }
    &.-jp {
      #{$amp}__jp {
        font-size: 2.5rem;
      }
      #{$amp}__en {
        font-size: 1.6rem;
      }
    }

  }
  @include mq(ss) {
    &__en {
      font-size: 2.5rem;
    }
    &.-jp {
      #{$amp}__jp {
        font-size: 2.5rem;
      }

      #{$amp}__en {
        font-size: 1.6rem;
      }
    }

  }
}

