@charset "utf-8";

/*============================================

  GLOBAL NAVIGATION

============================================*/
.l-gnavi {
  $amp: &;
  &__navi{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:first-child) {
      margin-left: 1rem;
      &:before{
        content: '｜';
        font-weight: 500;
        display: inline-block;
        margin-right: 1rem;
        @include mq(lg-) {
          font-size: 0.83vw;
        }
      }
    }

    @include mq(sm-) {}
  }

  &__link {
    line-height: 1;
    display: inline-block;
    position: relative;
    text-align: center;
    font-weight: 500;
    @include mq(lg-) {
      font-size: 0.83vw;
    }
    //font-size: 0.89vw;
    @include mq(sm-) {

      //font-size: 1.7rem;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__tel {
    margin-left: 3rem;
    color: $main;
    font-family: $ff_en;
    line-height: 1;
    display: flex;
    align-items: flex-end;
    span{
      margin-bottom: 3px;
    }
    @include mq(lg-) {
      font-size: 0.83vw;
    }
    .num{
      display: inline-block;
      color: $main;
      font-size: 3.6rem;
      margin-left: 4px;
      @include mq(lg-) {
        font-size: 1.875vw;
      }
    }
  }


  &__btn {
    margin-left: 1.5rem;
    width: 19.4rem;

    a {
      display: block;
      border-radius: 10rem;
      background: $main;
      border: 1px solid $main;
      color: #fff;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1;
      padding: 1.19em 0;
      text-align: center;
      box-shadow: 0px 8px 8px 0px rgba(0, 159, 232, 0.2);
      .icon{
        fill: #fff;
        width: 1em;
        height: 1em;
        margin-right: 8px;
        vertical-align: middle;
        margin-bottom: 2px;
      }
      @include mq(sm-) {
        &:hover {
          color: $main;
          background: #fff;
          .icon{
            fill: $main;
          }
        }
      }
    }
  }

  @include mq(xl) {
    &__tel{
      margin-left: 1.5rem;
    }
    &__btn{
      width: 14rem;
    }

  }

  @media screen and (max-width:1500px) {}

  @include mq(lg) {
    &__navi{
      flex-direction: column-reverse;
      align-items: flex-end;
    }
    &__link{
      font-size: 1.6rem;
    }
    &__top{
      margin-bottom: 1rem;
    }
    &__tel{
      margin-left: 0;
    }
    &__btn{
      margin-left: 3rem;
      width: 19.4rem;
    }

  }

  @include mq(md) {}


  @include mq(sm) {
    &__navi{
      flex-direction: column;
    }
    &__list{
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
    &__item{
      width: 48%;
      border-bottom: 1px solid $main;
      &:not(:first-child){
        margin-left: 0;
        &:before{
          display: none;
        }
      }
    }
    &__link{
      display: block;
      padding: 1em;
    }
    &__privacy {
      text-align: center;
      margin-top: 3rem;
      width: 100%;
    }

    &__logo {
      width: 50%;
      margin: 0 auto 3rem;
    }
    &__top{
      flex-direction: column;
      width: 100%;
      margin-bottom: 0;
      margin-top: 2rem;
    }
    &__btn{
      margin-left: 0;
      margin-top: 2rem;
    }


  }

  @include mq(xs) {
    &__item{
      width: 100%;
    }
    &__btn{
      width: 70%;
    }
  }

  @include mq(ss) {
    &__btn{
      width: 80%;
    }
    &__tel{
      .num{
        font-size: 2.8rem;
      }
    }
  }
}
