@charset "utf-8";

/*============================================

  GLOBAL NAVIGATION

============================================*/
.l-gnavi {
  $amp: &;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__menu {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:first-child) {
      margin-left: 3rem;
    }

    @include mq(sm-) {}
  }

  &__link {
    line-height: 1;
    display: block;
    position: relative;
    text-align: center;
    font-weight: 700;

    //font-size: 0.89vw;
    @include mq(sm-) {

      //font-size: 1.7rem;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__tel {
    margin-left: 2.8rem;
  }

  &__num {
    font-weight: 700;
    font-size: 4.6rem;
    font-size: 2.39vw;
    line-height: 0.85;
    font-family: $ff_num;
    display: block;
    padding-left: 1.13em;
    position: relative;

    &:before {
      content: '';
      width: 1em;
      height: 1em;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: url(../../assets/img/icon_tel.svg) no-repeat center / contain;
    }
  }

  &__btn {
    margin-left: 2rem;
    width: 13.58%;

    a {
      display: block;
      border-radius: 3rem;
      background: $main;
      border: 1px solid $main;
      color: #fff;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 1;
      padding: 0.93em 0;
      text-align: center;

      @include mq(sm-) {
        &:hover {
          color: $main;
          background: #fff;
        }
      }
    }
  }

  @include mq(xl) {
    &__btn {
      a {
        font-size: 1.6rem;
      }
    }

    &__item {
      &:not(:first-child) {
        margin-left: 2rem;
      }
    }

    &__num {
      font-size: 2vw;
    }

    &__link {
      font-size: 1.5rem;
    }

  }

  @media screen and (max-width:1500px) {}

  @include mq(lg) {
    &__item {
      &:not(:first-child) {
        margin-left: 2rem;
      }
    }

    &__link {
      font-size: 1.5rem;
    }

    &__btns {
      margin-left: 2.5rem;
    }
  }

  @include mq(md) {}

  @include mq(md) {
    display: block;

    &__logo {
      text-align: center;
      margin-bottom: 4rem;
    }

    &__menu {
      flex-wrap: wrap;
      //justify-content: space-between;
    }

    &__item {
      text-align: center;
      width: 100%;

      &:not(:first-child) {
        margin-left: 0;
      }
    }

    &__link {
      padding: 1.25em 1em;
      display: block;
      font-size: 1.6rem;
      color: #fff;
    }

    &__btn {
      a {}
    }

    &__tel {
      margin-top: 2rem;
      margin-left: 0;
      text-align: center;
    }

    &__btn {
      width: 80%;
      margin: 2rem auto 0;

      a {
        background: #fff;
        color: $main;
      }
    }

    &__num {
      font-size: 3rem;
      display: inline-block;
    }
  }

  @include mq(sm) {
    &__privacy {
      text-align: center;
      margin-top: 2rem;
    }

    &__logo {
      width: 50%;
      margin: 0 auto 4rem;
    }

    &__menu {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      width: 48%;
      border-bottom: 1px solid $main;
    }

    &__link {
      color: $font;
      font-weight: 500;
      padding: 1.25em 0;
    }

    &__tel {
      margin-top: 4rem;
    }

    &__btn {
      a {
        background: $main;
        color: #fff;
      }
    }
  }

  @include mq(xs) {}

  @include mq(ss) {
    &__num {
      a {
        font-size: 3rem;

        .num {
          font-size: 4rem;
        }
      }
    }

    &__btns {
      justify-content: space-between;
    }

    &__btn {
      width: 48%;

      a {
        width: 100%;
      }
    }

    &__menu {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      width: 48%;
    }

    &__link {}
  }
}