@charset "utf-8";
/*============================================

  MEGAMENU

============================================*/
.l-megamenu{
  $amp: &;
  z-index: 100;
  display: none;
  // opacity: 0;
  // visibility: hidden;
  //transition: 0.6s;
  //transform: translateY(50px);
  width: 100vw;
  &.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &__inner {
    padding-top: 2.8rem;
    padding-bottom: 2.2rem;
    background: #fff;
  }
  &__listWrap {
    display: flex;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    &:not(:first-child) {
      margin-left: 6.3rem;
    }
    
  }
  &__link {
    position: relative;
    @include mq(sm-) {
      &:hover {
        #{$amp}__img {
          img {
            transform: scale(1.4) rotate(10deg);
          }
        }
        #{$amp}__over {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__img{
    overflow: hidden;
    position: relative;
    img{
      transition: 0.4s;
    }
  }
  &__ttl{
    font-size: 1.5rem;
    font-weight: 500; 
  }
  &__over {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 35, 64, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    transition: 0.4s;
  }
  @include mq(sm-) {
    position: fixed;
    left: 0;
    width: 100%;
  }
  @include mq(xl) {
  }
  @include mq(sm){
    width: 100%;
    &__inner{
      padding: 1.5rem 0 2.5rem;
    }
    &__list {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    &__item {
      width: 20%;
      text-align: center;
      &:not(:first-child){
        margin-left: 0;
      }
      &:not(:last-child){
        border-right: 1px solid #dddddd;
      }
      a{
        padding: 0 1rem;
        display: block;
      }
    }
  }
  @include mq(xs){
    &__item{
      width: 50%;
      &:not(:last-child) {
        border-right: none;
      }
    
      &:nth-child(odd) {
        border-right: 1px solid #dddddd;
      }
    
      &:nth-child(n+3) {
        margin-top: 2rem;
      }
    }
    &__ttl{
      font-size: 1.4rem;
    }
    
  }
}




