@charset "utf-8";
/*============================================

  KV

============================================*/

/*-------------------------------
  KV > UNDER
-------------------------------*/
.p-kv_under {
  $amp:&;

  @include mq(xl){
  }

  @include mq(sm) {

  }
  @include mq(xs) {

  }
  @include mq(ss) {

    
  }
}
