/*--------------------------------------------
  padding
--------------------------------------------*/

.u-pdt {
  &0 {
    padding-top: 0;
  }
}

.u-pdl {
  &0 {
    padding-left: 0;
  }
}

.u-pdr {
  &0 {
    padding-right: 0;
  }
}

.u-pdb {
  &0 {
    padding-bottom: 0;
  }
}